<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KTS</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("KTS Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Books", "Index", "Books")</li>
                </ul>
                    @if (String.IsNullOrEmpty(this.User?.Identity?.Name))
                    {
                        <p class="navbar-text navbar-right">
                            Welcome! @Html.ActionLink("Login here", "Login", "Account").
                        </p>
                    }
                    else
                    {
                        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "form-inline navbar-right", id = "form-logout" }))
                        {
                            <p class="navbar-text navbar-right">
                                Welcome, @this.User.Identity.Name! <a href="#" onclick="document.getElementById('form-logout').submit();">Logout here</a>.
                            </p>
                        }
                    }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Know Thy Shelf</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
